<?xml version="1.0"?>

<launch>

    <!--include file="$(find qr_detector)/launch/start.launch"/-->
 
    <node name="r3cop_executive" pkg="challenge_r3cop" type="r3cop" output="screen"/> 
    
    <node name="r3cop_smach_states" pkg="challenge_r3cop" type="smach_states.py" output="screen"/> 

</launch>

