<?xml version="1.0"?>

<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="external_hokuyo_node" output="screen">
        <remap from="scan" to="/external/laser"/>
        <param name="frame_id" value="/external/laser"/>
    </node>

    <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters external_hokuyo_node">
        <param name="min_ang" type="double" value="-1.57" />
        <param name="max_ang" type="double" value="1.57" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="external_laser_broadcaster" args="6.4 0.7 1.0 3.14 0 0 /map /external/laser 100"/> 
</launch>
