<?xml version="1.0"?>
<launch>

	<node pkg="laser_ppl_detection" type="ppl_detection_node" name="ppl_detection_external" output="screen" respawn="false">
		<param name="threshold" type="double" value="0.06"/>
		<param name="hypotheses_filename" type="string" value="$(find laser_ppl_detection)/data/generated/hypo_with_arms_full.dat"/>
		<param name="input_scan_topic" type="string" value="/external/laser"/>
		<param name="min_n_points_person" type="int" value="3"/>
		<param name="max_distance" type="double" value="8.5"/>
	</node>

</launch>
