<?xml version="1.0"?>
<launch>

    <!-- Launch the text to speech (Should not be here but just for debugging) -->
    <!--include file="$(find amigo_launch_files)/launch/interaction/text_to_speech.launch" /-->

    <!-- Launch the websocket server (communication via roslib) -->
<!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" /> -->

    <!-- Launch mjpeg server (kinect video stream) -->
    <node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server" output="screen" />

    <!-- Start the simple webserver to handle static files -->    
    <node pkg="challenge_demo_2014" type="webserver.py" name="doorbell_gui" output="screen">
        <param name="port" value="8001" />
    </node>
    
    <node pkg="challenge_demo_2014" type="doorbell_listener.py" name="doorbell_listener" output="screen" />

</launch>
