<?xml version="1.0"?>
<launch>
  <arg name="frame" />
  <arg name="manager_name" default="normal_estimation_manager" />
  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="image_to_points" args="load depth_image_proc/point_cloud_xyz $(arg manager_name)">
    <remap from="image_rect" to="depth/image"/>
    <remap from="depth/camera_info" to="rgb/camera_info"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough $(arg manager_name)">
      <remap from="~input" to="points" />
      <remap from="~output" to="points_passtrough" />
      <param name="filter_field_name" value="z" />
      <param name="filter_limit_min" value="0.5" />
      <param name="filter_limit_max" value="3" />
  </node>

  <node name="voxel_grid" pkg="nodelet" type="nodelet" args="load pcl/VoxelGrid $(arg manager_name)">
    <remap from="~input" to="points_passtrough" />
    <remap from="~output" to="points_voxelized" />
    <param name="leaf_size" value="0.03" />
    <param name="filter_field_name" value="z" />
    <param name="filter_limit_min" value="0.5" />
    <param name="filter_limit_max" value="1.5" />
    <param name="input_frame" value="$(arg frame)" />
    <param name="output_frame" value="$(arg frame)" />
  </node>

  <node pkg="challenge_restaurant" type="get_normal_score_node" name="get_normal_score_node">
    <remap from="points" to="points_voxelized" />
  </node>
</launch>