<?xml version="1.0"?>

<launch>

  <!-- Top laser scanner -->
  <node pkg="hokuyo_node" type="hokuyo_node" name="top_hokuyo_node" output="screen">
    <remap from="scan" to="/top_scan"/>
    <param name="frame_id" value="/top_laser"/>
  </node>
  
  <!-- People detection using top laser-->
  <include file="$(find laser_ppl_detection)/launch/detect_ppl.launch" />
  
  <!-- Pein ->
  <include file="$(find pein_supervisor)/launch/start.launch" />
  <include file="$(find pein_face_recognition)/launch/start.launch" /-->
  
  <!-- WIRE ->
  <include file="$(find wire_core)/launch/start.launch" /-->

</launch>

