<?xml version="1.0"?>
<launch>
  	<!-- Reasoner -->
 	<include file="$(find amigo_launch_files)/launch/middleware/reasoner.launch"/>

    <!-- World Model -->
 	<include file="$(find amigo_launch_files)/launch/middleware/world_model.launch"/>

    <!-- Start speech recognition -->
    <include file="$(find amigo_launch_files)/launch/interaction/speech_recognition.launch" />	  
</launch>	



