<?xml version="1.0"?>

<launch>

  <!-- Smach State server -->
  <node pkg="challenge_restaurant_2014" type="smach_states.py" name="smach_states_server"/>
  
  <!-- Executive -->
  <node pkg="challenge_restaurant_2014" type="restaurant_gmap" name="restaurant_executive" output="screen"/>

</launch>

