<?xml version="1.0"?>
<launch>
	
	<include file="$(find amigo_machine_files)/machines/amigo1.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo2.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo3.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo4.machine" />

    <!-- Launch the text to speech (Should not be here but just for debugging) -->
    <!--include file="$(find amigo_launch_files)/launch/interaction/text_to_speech.launch" /-->

    <!-- Launch the websocket server (communication via roslib) -->
    <remap from="/cmd_vel" to="/amigo/base/references" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- Launch mjpeg server (kinect video stream) -->
    <node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server" output="screen" machine="amigo1"/>

    <!-- Start the simple webserver to handle static files -->
    <node pkg="challenge_demo" type="webserver.py" name="challenge_demo_webserver" output="screen" machine="amigo1">
        <param name="port" value="8001" />
    </node>

</launch>
