<?xml version="1.0"?>
<launch>
	
	<include file="$(find amigo_machine_files)/machines/amigo1.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo2.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo3.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo4.machine" />

    <!-- Kinect + object segmentation -->
    <include file="$(find challenge_demo)/launch/external_kinect.launch" />
    <include file="$(find challenge_demo)/launch/object_segmentation.launch"/>
    
    <!-- Laser + ppl detection -->
    <include file="$(find challenge_demo)/launch/laser.launch" />
    <include file="$(find challenge_demo)/launch/ppl_detection.launch" />
    
    <!-- Visualization -->
    <node pkg="challenge_demo" type="visualize_current_person.py" name="visualize_current_person" output="screen"/>
    
    <!-- Other stuff -->
    <include file="$(find challenge_demo)/launch/server_real.launch" />
    <node pkg="challenge_demo" type="doorbell_listener.py" name="doorbell_listener" output="screen" machine="amigo1" />

</launch>
