<?xml version="1.0"?>

<launch>

    <arg if="$(optenv ROBOT_REAL false)" name="machine" default="amigo1"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="machine" default="localhost"/>
	
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" />

    <!-- Perception -->
    <include file="$(find blob_clustering)/launch/start.launch"/>

    <node pkg="laserscan_starter" type="laserscan_starter" name="laserscan_starter" machine="$(arg machine)"/>

</launch>

