<launch>
	
	<!-- This launch file contains the nodes that are required to run the Clean up! Challenge
		 without the executive itself (this makes testing easier) -->
	<include file="$(find amigo_machine_files)/machines/amigo1.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo2.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo3.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo4.machine" />

	<rosparam file="$(find amigo_demo)/dictionaries/en_extended.yaml" command="load" />
	<rosparam file="$(find amigo_demo)/dictionaries/nl_extended.yaml" command="load" />
	
	<group if="$(optenv ROBOT_REAL false)">
		<!-- REAL ROBOT -->

		<!--<include file="$(find tue_speech_recognition)/demo/demo_speech.launch" />-->
		
		<!-- teleop (amigo1) -->
		<node name="teleop" pkg="teleop" type="teleop.py" respawn="false" launch-prefix="xterm -e">
		</node>
		
		<!-- Is hardly ever been used -->
		<!--<include file="$(find amigo_velocity_kinematics)/launch/start.launch" />-->
		
	</group>
	
	<group unless="$(optenv ROBOT_REAL false)">
		<!-- SIMULATION -->
		
		<!--<include file="$(find gazebo_perception)/launch/start.launch"/>-->
		
		<node name="teleop" pkg="teleop" type="teleop.py" respawn="false" launch-prefix="xterm -e">
		</node>
		
	</group>

</launch>

