<?xml version="1.0"?>
<launch>  

  <!-- rgbd server -->
  <include  file="$(find rgbd)/launch/top_kinect_server.launch"/>

  <!-- world model -->
  <node pkg="ed" type="ed_server" name="ed_server" /> 

  <!-- head ref world model objects -->
  <node pkg="head_ref_ed_client" type="head_ref_ed_client" name="head_ref_ed_client" />

</launch>	
