<?xml version="1.0"?>

<launch>
  <rosparam command="load" file="$(find challenge_robo_zoo)/description/amigo_spindle.yaml" ns="/amigo/skills/torso/default_configurations/"/> 
  <!-- <rosparam command="load" file="$(find challenge_robo_zoo)/description/amigo_arms.yaml" ns="/amigo/skills/torso/default_configurations/"/> -->

  <include file="$(find qr_detector_zbar)/launch/qr_data_publisher.launch"/>
  <include file="$(find rgbd_transport)/launch/top_kinect_server.launch"/>

</launch>