<launch>
	
	<!-- This launch file contains the nodes that are required to run the Clean up! Challenge
		 without the executive itself (this makes testing easier) -->
	<include file="$(find amigo_machine_files)/machines/amigo1.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo2.machine" />
	<include file="$(find amigo_machine_files)/machines/amigo3.machine" />
	
	<include file="$(find run_speech_files)/output_folder/magdeburg2013/speech_magdeburg2013.launch" />
	<include file="$(find speech_interpreter)/launch/start.launch" />
	
	<group if="$(optenv ROBOT_REAL false)">
		<!-- REAL ROBOT -->
		
	</group>
	
	<group unless="$(optenv ROBOT_REAL false)">
		<!-- SIMULATION -->
	
	</group>
</launch>

