<?xml version="1.0"?>

<launch>

    <arg name="gdb" default="false"/>
    <arg if="$(arg gdb)" name="launch-prefix" value="gdb -ex run --args"/>
    <arg unless="$(arg gdb)" name="launch-prefix" value=""/>

    <!-- WIRE VOLUME -->  

    <!-- (This includes loading the transport plugin and tf plugin) -->
    <include file="$(find wire_volume)/launch/start.launch">
<!--        <arg name="gdb" value="true" /> -->
    </include>

    <!-- Insert the map to the world model -->
    <node name="wall_loader" pkg="wire_volume" type="load_from_file" args="$(find amigo_maps)/wire_volume/$(env ROBOT_ENV)_thick_walls.vwm"/>

    <!-- Vis Plugin Wire Volume loader -->
    <node name="vis_plugin_loader" pkg="wire_volume" type="load_plugin" args="wire_volume_viz viz_plugin" output="screen"/>

    <!-- Map publisher plugin -->
    <node name="map_plugin_loader" pkg="wire_volume" type="load_plugin" args="wire_volume_map_publisher wire_volume_map_publisher" output="screen"/>

    <!-- Load fitter plugin (for dynamic updates) -->
    <include file="$(find wire_fitter)/launch/load_kinect_plugin.launch"/>

    <!-- Launch the streaming server (depth image) -->
    <node name="rgbd_transport_server" pkg="rgbd_transport" type="server">
        <remap from="rgb_image" to="/amigo/top_kinect/rgb/image_color" />
        <remap from="depth_image" to="/amigo/top_kinect/depth_registered/image" />
        <remap from="cam_info" to="/amigo/top_kinect/rgb/camera_info" />
        <remap from="output" to="/amigo/top_kinect/rgbd" />
        <param name="max_fps" value="30" />
    </node>

</launch>
